<template>
	<gl-filtered-search-token
		v-bind="{ ...this.$props, ...this.$attrs }"
		v-on="$listeners"
	>
		<template #view-token="{ inputValue, cssClasses, listeners }">
			<gl-token variant="search-value" :class="cssClasses" :style="containerStyle" v-on="listeners">
				{{ activeLabel ? activeLabel.title : inputValue }}
			</gl-token>
		</template>
		<template #suggestions>
			<template v-if="loadingSuggestions">
				<gl-loading-icon/>
			</template>
			<template v-else>
				<gl-filtered-search-suggestion :key="label.id" v-for="label in labels" :value="label.title">
					<div class="d-flex">
						{{ label.title }}
					</div>
				</gl-filtered-search-suggestion>
			</template>
		</template>
	</gl-filtered-search-token>
</template>
<script>

export default {
	name: 'ApiToken',
	props: ['value', 'active'],
	inheritAttrs: false,
	data() {
		return {
			loadingView: false,
			loadingSuggestions: false,
			labels: [],
			activeLabel: null,
		};
	},
	computed: {
		currentValue() {
			return this.value.data.toLowerCase();
		},
		containerStyle() {
			if (this.activeLabel) {
				const { color, text_color } = this.activeLabel;
				return { backgroundColor: color, color: text_color };
			}
			return {};
		},
	},
	methods: {
		loadView() {
			this.activeLabel = this.labels.find(l => l.title === this.value.data);
		},
		fetchLabels(word) {
			const url = new URL('/', location.href)
			url.pathname = './api.json'
			if (word) url.searchParams.set('title', word)
			return fetch(String(url))
				.then(r => r.json())
				.then(d => {
					return d.results.map(u => ({
						id: u.id,
						title: u.title,
						value: u.title,
						color: u.color,
						text_color: u.text_color,
					}))
				})
		},
		loadSuggestions() {
			const word = this.value.data
			this.loadingSuggestions = true
			this.fetchLabels(word)
				.then(labels => {
					this.labels = labels
					this.loadingSuggestions = false
				})
		},
	},
	watch: {
		// eslint-disable-next-line func-names
		'value.data': function() {
			if (this.active) {
				this.loadSuggestions();
			}
		},
		active: {
			immediate: true,
			handler(newValue) {
				if (!newValue) {
					this.loadView();
				} else {
					this.loadSuggestions();
				}
			},
		},
	},
}
</script>
