@use '@gitlab/ui/src/scss/gitlab_ui';

// .gl-search-box-by-click-search-button::after {
// 	content: "この内容で検索する";
// 	padding-left: 4px;
// }

// .gl-search-box-by-click .gl-search-box-by-click-clear-button {
// 	right: 10rem;
// }
