<template>
	<gl-filtered-search-token
		v-bind="{ ...this.$props, ...this.$attrs }"
		v-on="$listeners"
	>
		<template #view-token="{ inputValue, cssClasses, listeners }">
			<gl-token variant="search-value" :class="cssClasses" :style="containerStyle" v-on="listeners">
				{{ activeLabel ? activeLabel.title : inputValue }}
			</gl-token>
		</template>
		<template #suggestions>
			<gl-filtered-search-suggestion value="None">None</gl-filtered-search-suggestion>
			<gl-filtered-search-suggestion value="Any">Any</gl-filtered-search-suggestion>
			<gl-dropdown-divider v-if="loadingSuggestions || labels.length"></gl-dropdown-divider>
			<template v-if="loadingSuggestions">
				<gl-loading-icon/>
			</template>
			<template v-else>
				<gl-filtered-search-suggestion :key="label.id" v-for="label in labels" :value="label.title">
					<div class="d-flex">
						{{ label.title }}
					</div>
				</gl-filtered-search-suggestion>
			</template>
		</template>
	</gl-filtered-search-token>
</template>
<script>

export default {
	name: 'UserToken',
	props: ['value', 'active'],
	inheritAttrs: false,
	data() {
		return {
			loadingView: false,
			loadingSuggestions: false,
			labels: [],
			activeLabel: null,
		};
	},
	computed: {
		currentValue() {
			return this.value.data.toLowerCase();
		},
		containerStyle() {
			if (this.activeLabel) {
				const { color, text_color } = this.activeLabel;

				return { backgroundColor: color, color: text_color };
			}
			return {};
		},
	},
	methods: {
		loadView() {
			this.loadingView = true;
			setTimeout(() => {
				this.loadingView = false;
				this.activeLabel = this.labels.find(l => l.name === this.value.data);
			}, 100);
		},
		loadSuggestions() {
			const word = this.value.data
			this.loadingSuggestions = true
			if ('string' !== typeof word || !word) {
				this.labels = []
				return
			}
			this.loadingSuggestions = true;
			const body = JSON.stringify({
				query: `query($word: String) {
  				users(search: $word) {
						nodes {
							id
							name
							username
						}
					}
				}`,
				variables: {
					word: this.value.data,
				}
			})
			fetch('https://gitlab.com/api/graphql', {
				method: 'post',
				headers: {
					'content-type': 'application/json'
				},
				body,
			})
				.then(r => r.json())
				.then(d => {
					this.labels = d.data.users.nodes.map(u => ({
						id: u.id,
						title: u.name,
						value: u.username,
						// color: '#000000',
						// text_color: '#FFFFFF',
					}))
					this.loadingSuggestions = false;
				})
		},
	},
	watch: {
		// eslint-disable-next-line func-names
		'value.data': function() {
			if (this.active) {
				this.loadSuggestions();
			}
		},
		active: {
			immediate: true,
			handler(newValue) {
				if (!newValue) {
					this.loadView();
				} else {
					this.loadSuggestions();
				}
			},
		},
	},
}
</script>
